<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>
<div class="row">
        <div class="col-lg-3 mt-3">
            <div class="card shadow mx-auto" style="width: 18rem;">
            <img src="<%= found.img %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= found.name %></h5>
                <h3 class="card-title">₹ <%= found.price %></h5>
                <p class="card-text"><%= found.desc %></p>
                <a href="/products/<%= found._id %>/edit" class="btn btn-dark">Edit</a>
                <a href="#" class="btn btn-warning">Add to Cart</a>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
            </div>
        </div>

        <div class="col-lg-6">
            <h1 class="display-5">Leave a Review</h1>
        </div>
</div>

</html>